<section class="education-section">
  <h2 class="section-title">Projects</h2>

  <div class="card">
    <div class="header">
      <h3>Flavors of Fortune</h3>
      <span class="date">Commercial Project</span>
    </div>

    <a href="https://store.steampowered.com/app/2927890/Flavors_of_Fortune/" class="project-link">Published on Steam</a>

    <img src="FlavorsOfFortune.jpg" alt="Flavors Of Fortune title screen" class="game-image">

    <ul>
      <li>Teamed up with an artist to design and produce a 2D cooking game for commercial release</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>Shroom Jam 2025</h3>
      <span class="date">Game Jam</span>
    </div>

    <a href="https://delakora.itch.io/the-lucky-duck-film-store" class="project-link">Available on Itch.io</a>

    <img src="ShroomJam.png" alt="Shroom Jam gameplay" class="game-image">

    <ul>
      <li>Collaborated with an artist and a composer to design and implement the game in 7 days</li>
      <li>Programmed the game using Godot .NET</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>GitHub Game Off 2024</h3>
      <span class="date">Game Jam</span>
    </div>

    <a href="https://callmecocogrr.itch.io/the-forest" class="project-link">Available on Itch.io</a>

    <img src="GitHubGameOff2024.png" alt="GitHub Game Off 2024 gameplay" class="game-image">

    <ul>
      <li>Worked with a team to develop a 2D, top-down shooter game over 1 month</li>
      <li>Implemented AI state machines for NPC behaviors and game logic</li>
    </ul>
  </div>
</section>
