<section class="education-section">
  <h2 class="section-title">Education</h2>

  <div class="card">
    <div class="header">
      <h3>Master of Science in Computer Science</h3>
      <span class="date">2022 - 2024</span>
    </div>

    <p class="organization-name">Georgia Institute of Technology</p>

    <ul>
      <li>Specialization in Artificial Intelligence</li>
      <li>3.3 GPA</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>Bachelor of Science in Neuroscience</h3>
      <span class="date">2018 - 2020</span>
    </div>

    <p class="organization-name">Mercer University</p>

    <ul>
      <li>Pre-medical track</li>
      <li>Minor in Chemistry</li>
      <li>3.75 GPA</li>
    </ul>
  </div>
</section>
