<section class="education-section">
  <h2 class="section-title">Experience</h2>

  <div class="card">
    <div class="header">
      <h3>Associate Engineer</h3>
      <span class="date">March 2025 - Present</span>
    </div>

    <p class="organization-name">Infosys</p>

    <ul>
      <li>Assigned to client project as an Unified Communication Engineer</li>
      <li>Underwent additional training as a full-stack developer using Angular for frontend development</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>Full-Stack Developer</h3>
      <span class="date">December 2024 - March 2025</span>
    </div>

    <p class="organization-name">Revature</p>

    <ul>
      <li>Developed full-stack applications using Java and Spring for backend and Typescript and React for frontend</li>
      <li>Implemented a REST API using a 3-layer architecture</li>
      <li>Hosted a MySQL database in the cloud using AWS RDS</li>
      <li>Containerized development and deployment environments using Docker</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>Software Engineer Intern</h3>
      <span class="date">September 2024 - November 2024</span>
    </div>

    <p class="organization-name">Revature</p>

    <ul>
      <li>Created a REST API using Spring backend</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>Game Developer</h3>
      <span class="date">June 2024 - August 2024</span>
    </div>

    <p class="organization-name">Magboot Games</p>

    <ul>
      <li>Developed a game client using C# in Unity and a multiplayer server using TypeScript in Nakama</li>
    </ul>
  </div>

  <div class="card">
    <div class="header">
      <h3>Test Automation Engineer Intern</h3>
      <span class="date">October 2023 - March 2024</span>
    </div>

    <p class="organization-name">Solvd Inc</p>

    <ul>
      <li>Automated API and web tests using Java and a Selenium-based framework </li>
    </ul>
  </div>
</section>
